.about-sec{
    width: 100%;
    min-height: 60vh;
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.about-inner{
    width: 90%;
    margin: 0 auto;

}
.about-con{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding-bottom: 2rem;

}
.about-img-con{
    width: 30%;
    background-color: aliceblue;
    height: 12rem;
    display: flex;
    align-self: center;
    border-radius: 2rem;
    overflow: hidden;
}
.about-img{
    width: 100%;
    height: 100%;
}
.about{
    width: 60%;

}
.about p{
    padding-bottom: 10px;
}
.about-button{
    width: 8rem;
    padding: 1rem;
    border-radius: 2rem;
    border: solid 1px #d21919;
    background-color: #d21919;
    font-size: 15px;
    font-weight: 600;
    color: white;
}
.about-button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.questions-sec{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.questions-header{
    width: 30%;
}
.questions-header h2{
    width: 80%;
    font-size: 30px;
}

.questions-container{
    width: 60%;

}

.accordion-item{
    margin-bottom: 10px;
}
.accordion-header{
    background-color:lightgray;
    padding: 21px;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.accordion-icon{
    width: 1rem;
}
.accordion-content{
    padding: 10px;
    display: none;
    background-color: rgb(235, 235, 235);
}

.contact-sec{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}
.contacts-header{
    margin: 0 auto;
    padding-top: 1rem;
    font-size: 28px;
}
.contact-con{
    width: 100%;
    min-height: 19rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.contacts{
    width: 40%;
    background-color: rgb(228, 228, 228);
    border-radius: 2rem;
}
.contacts h2{
    padding-left: 38px;
    font-size: 27px;
}
.contacts p{
    margin: 13px;
    padding-left: 30px;
}
.maps-con{
    width: 50%;
    height: 20rem;
    background-color: antiquewhite;
    border-radius: 2rem;
    overflow: hidden;
}
@media (max-width: 830px) {
    .about-inner{
        width: 100%;
    }
     .questions-sec{
        flex-direction: column;
        gap: 4rem;
    }
    .questions-header{
        width: 80%;
        margin: 0 auto;
    }
    .questions-container{
        width: 90%;
        margin: 0 auto;
    }
    
}
@media (max-width: 700px) {
    .about-con{
        display: flex;
        flex-direction: column;
    }
    .about-img-con{
        width: 50%;   
    }
    .about{
        width: 90%;
        margin: 0 auto;
    }
    .contact-con{
        flex-direction: column;
    }
    .contacts{
        width: 70%;
        margin-left: 2rem;
    }
    .maps-con{
        width: 80%;
        height: 18rem;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .about-img-con{
        width: 70%;
    }
    .contacts{
        width: 90%;
        margin: 0 auto;
    }
    .maps-con{
        width: 90%;
        height: 14rem;
    }
}