body{
    margin: 0;
    background-color: rgb(243, 243, 243);
    font-family: kanit;    
}
.environment-sec{
    width: 100%;
    min-height: 100vh;
}
.environment-inner{
    width: 90%;
    min-height: 90vh;
    padding-top: 4rem;
    margin: 0 auto;
}
.environment-header{
    width: 40%;
    margin:  0 auto;
    padding-bottom: 2rem;
    text-align: center;
}

.environment-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-gap: 3rem;
    padding-bottom: 5rem;
}

.environment-con{
    width: 30;

}
.environment-icon-con{
    height: 3rem;
}
.environment-icon{
    width: 3rem;
    height: 100%;
    background-color: rgb(249, 217, 217);
    margin-left: 10px;
    border-radius: 23px;
    overflow: hidden;
}
.environment-desc{
    width: 95%;
    margin: 0 auto;
}
.environment-desc h3{
    margin-top: 10px;
    margin-bottom: 0;
}
.environment-desc p{
    margin-top: 7px;
    width: 90%;
}

.clients-sec{
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background:  linear-gradient(rgb(243, 243, 243),rgba(74, 74, 128, 0.8), rgb(34, 34, 70));
}
.clients-header{
    display: flex;
    justify-content: center;
}
.clients-header h2{
    margin: 0 auto;
}

.clients{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    margin-top: 2rem;
}
.client-con{
    width: 10rem;
    height: 4rem;
    margin:  0 auto;
}
.client-icon{
    width: 100%;
    height: 100%;
}


.who-we-are{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
}
.who-we-con{
    width: 50%;
}
.who-we-con p{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 15px;
}
.who-we-con h1{
    width: 90%;
    margin-left: 20px;
}


.who-we-img{
    width: 50%;
    background-color: aquamarine;
}

@media (max-width: 865px) {

    .environment-header h1{
        font-size: 25px;
    text-align: center;
    }
    .environment-header{
        width: 58%;
    }
}
@media (max-width: 739px) {
    .who-we-are {
        flex-direction: column;
    }
    .who-we-con{
        width: 100%;
    }
    .who-we-img{
        width: 100%;
        height: 15rem;
    }
    
}
@media (max-width: 451px) {
    .environment-header{
        width: 90%;
    }
}