.home-about{
    width: 100%;
}
.home-about-inner{
    width: 90%;
    margin: 0 auto;
}
.home-about-header{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.home-about-context{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
}
.home-about-content{
    width: 40%;
    background-color: rgb(228, 228, 228);
    padding: 1rem;
    border-radius: 1rem;
}

@media (max-width: 620px) {
 .home-about-context{
    flex-direction: column;
    gap: 25px;
 }  
 .home-about-content{
    width: 80%;
    margin: 0 auto;
 }
}

@media (max-width: 430px) {
 .home-about-content{
    width: 90%;
 }     
}