body{
    margin: 0;
    background-color: rgb(243, 243, 243);
    font-family: kanit;
    
}

.landing-sec{
    width: 100%;
    height: 100vh;
    background-color: rgb(12, 12, 31);
    color: rgb(225, 222, 222);
}
.landing-inner{
    width: 95%;
    height: 89vh;
    background-color: rgba(44, 44, 127, 0.153);
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.landing-left{
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
}
.landing-left h1{
    width: 70%;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}
.landing-left p{
    width: 90%;
    font-size: 20px;
}
.landing-button{
    width: 9rem;
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid #d21919;
    margin-left: 1rem;
    margin-top: 2rem;
    font-size: 14px;
    font-weight: 800;
    background-color: #d21919;
    color: white;
}
.landing-button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.landing-right{
    width: 55%;
    background-color: aquamarine;
    height: 80vh;
    object-fit: cover;
    border-radius: 1rem;
    overflow: hidden;
}
.landing-img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

@media (max-width: 1205px) {
    .landing-inner{
        position: relative;
    }
    .landing-left{
        position: absolute;
        left: 5%;
        width: 55%;
        z-index: 1;
    }
    .landing-left h1{
        width: 100%;
    }
    .landing-right{
        position: absolute;
        width: 70%;
        right: 5%;
    }
}
@media (max-width: 620px) {
    .landing-left{
        width: 80%;
    }
    .landing-left h1{
        width: 100%;
    }
    .landing-left p{
        width: 100%;
    }

    .landing-right{
        width: 80%;
    }
}
@media (max-width: 460px) {
    .landing-left{
        top: 30%;
    }
    .landing-left h1{
        font-size: 30px;
    }
    .landing-left p{
        font-size: 20px;
    }
    .landing-button{
        margin-left: 0;
        margin-top: 1rem;
    }
}
@media (min-width: 1200px) {
    .landing-left{
    margin-left: 6rem;
    }
    .landing-left h1 {
        width: 90%;
    }
}