body{
    margin: 0;
    background-color: rgb(243, 243, 243);
    font-family: kanit;    
}
.sherq-sec{
    width: 100%;
    padding-top: 5rem;
}
.sherq-inner{
    width: 90%;
    margin: 0 auto;

}
.sherq-inner h1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    text-align: center;
}
.sherq-landing{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sherq-landing-img-con{
    width: 30%;
    height: 16rem;
    display: flex;
    justify-content: center;
}
.sherq-landing-img{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.sherq-landing-content{
    width: 50%;
    align-content: center;
}
.bold{
    font-weight: bold;
}


.sherq-offers-sec{
    width: 100%;
    padding-top: 3rem;
}
.sherq-offers-sec h2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sherq-offers{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 228, 228);
    padding: 1rem;
    border-radius: 1rem;
}

.offer{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.offer-title{
    width: 30%;
}
.offer-title h3{
    text-align: center;
    color: rgb(25, 25, 162);
}
.sherq-desc h3{
    display: flex;
    justify-content: center;
    width: 100%;
    color: rgb(25, 25, 162);
}

.offer-title p{
    font-weight: 600;
    padding-left: 10px;
}
.sherq-desc{
    padding-left: 17px;
    width: 60%
}



.technicals-sec{
    width: 100%;
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    grid-gap: 20px;

}
.technicals{
    background-color: rgb(228, 228, 228);
    padding: 18px;
    border-radius: 1rem;
}
.technicals li{
    padding-bottom: 10px;
}

.sherq-bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-items: center;
    padding-bottom: 2rem;
}
.sherq-bottom h3{
    margin-bottom: 0;
    margin-top: 3rem;
    text-align: center;
}
.sherq-bottom p{
    text-align: center;
}


.technologies{
    background-color: rgb(228, 228, 228);
    border-radius: 1rem;
}
.tech-header{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.tech{
    display: flex;
    flex-direction: row;
}
.tool{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 10px;
}
.tool h3{
    margin: 0;
}
.tool p{
    margin: 0;
    padding: 8px;
}

.purpose{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}
.purpose h3{
    margin: 0;
    padding: 0px;

}
.purpose p{
    padding: 0;
    margin: 5px;
}
@media (max-width: 1192px) {
    .second-special-link{
        padding-bottom: 0px;
    }
}
@media (max-width: 850px) {
    .sherq-landing-img{
        width: 100%;
        height: 100%;
    }
    
}
@media (max-width: 672px) {
    .second-special-link{
        padding-bottom: 4px;
    }
}
@media (max-width: 602px) {
    .sherq-sec{
        padding-top: 2rem;
    }
    .sherq-inner h1{
        font-size: 25px;
        text-align: center;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .second-link h1{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .sherq-landing{
        flex-direction: column;
    }
    .sherq-landing-img-con{
        width: 60%;
        height: 18rem;
        margin: 0 auto;
    }
    .sherq-landing-content{
        width: 90%;
        margin: 0 auto;
    }
}
@media (max-width: 502px) {
    .second-special-link{
        padding-bottom: 20px;
    }
}

@media (max-width: 475px) {
    .sherq-sec{
        padding-top: 4rem;
    }
    .sherq-landing-img-con{
        width: 80%;
    }
    .sherq-offers{
        width: 90%;
        font-size: 13px;
    }
    .sherq-desc{
        padding-left: 2rem;
    }
    .second-special-link{
        padding-bottom: 0px;
    }
    .technicals-sec {
         grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
}
@media (max-width: 390px) {
    .sherq-landing-img-con{
        width: 90%;
    }
    .second-link h1{
        padding-top: 0;
        padding-bottom: 1rem;
        font-size: 18px;
    }

}
@media (max-width: 371px) {
    .second-special-link{
        padding-bottom: 20px;
    }
}
