body{
    margin: 0;
    background-color: rgb(243, 243, 243);
    font-family: kanit;    
}
.training-sec{
    width: 90%;

    padding-top: 5rem;
    padding-bottom: 3rem;
    margin: 0 auto;
}
.training-sec h1 {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.training-landing{
    width: 100%;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

}
.training-landing-img-con{
    width: 35%;
    height: 20rem;
    background-color: rgb(228, 228, 228);
    border-radius: 1rem;
    overflow: hidden;
}
.training-landing-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.training-landing-desc{
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}


.training-technicals{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.training-technical{
    background-color: rgb(228, 228, 228);
    padding: 18px;
    border-radius: 1rem;
}

.training-ratings{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3rem;
}
.rating{
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rating h3 {
    margin: 0;
    font-weight: 800;
    font-size: 38px;
    padding: 0;
    color: rgb(185, 185, 185);
}
.rating p{
    margin: 0;
}

.training-contacts{
    width: 100%;
}

@media (max-width: 835px) {
    .training-inner h1{
        font-size: 28px;
        width: 80%;
    }
    .training-landing{
        flex-direction: column;
    }
    .training-landing-img-con{
        width: 70%;
        margin: 0 auto;
    }
    .training-landing-desc{
        width: 100%;
        margin: 0 auto;
        gap: 1rem;
    }
}

@media (max-width: 641px) {
    .training-inner h1{
        font-size: 20px;
    }
    .training-landing-desc{
        width: 90%;
        flex-direction: column;
    }
    .rating h3{
        font-size: 25px;
        padding-right: 15px;
    }
    .rating p{
        text-align: center;
    }
}

@media (max-width: 402px) {
    .training-inner h1{
        font-size: 20px;
        width: 100%;
    }
    .training-landing-img-con{
        width: 90%;
    }
    
}